<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Note-ilus, <%= @user.nom %> <%= @user.prenom %></h1>
    <p>
      Un professeur vous a inscrit sur le site note-ilus.
      Vous pouvez consulter en ligne vos notes et les épreuves auxquelles vous avez participées.
      Vous pouvez vous connecter avec votre email et le mot de passe suivant (que vous pourrez modifier).<br>
      Mot de passe : <%= @user.password %>
    </p>
    <p>
      Pour vous connecter, connectez vous juste sur ce lien : <%= @url %>.
    </p>
    <p>Bonne journée</p>
    <p>L'équipe Note-ilus</p>
  </body>
</html>