/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */


@import "bulma";

@font-face {
  font-family: 'Titre';
  src: url('titre.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hidden{
	display: none;
}

/* ---- reset ---- */ 
body{ 
	margin:0; 
	overflow-y: none;
} 

canvas{ 
	display: block; 
	vertical-align: bottom; 
} 

/* ---- particles.js container ---- */ 
#particles-js{ 
	position:absolute; 
	width: 100%; 
	height: 100%; 
	background-color: #028beb; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container {
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    width: 80%;
    position: absolute;
    left: 50%;
	transform: translateX(-50%);
    height: 494.25px;
    top:120px;
    margin-bottom: 25px; 
}

.container:before {
    content: "";
    position: fixed;
    z-index: -1;
    display: block;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
}

.container div.content {
  margin-top: 10px;
  color: black;
  text-align: center;
}

a{
	text-shadow: 1px 1px 2px black;
	color: white;
}

a:hover{
	text-shadow: none;
	color: rgb(92, 11, 160);
}

.is-centered{
	margin-left: auto;
    margin-right: auto;
}

.align_bot{
	top: 12px;
    position: relative;
    display: inline-block;
}

.space_top{
	margin-top: 10%;
}

.space_top-big{
	margin-top: 15%;
}

.space_top-small{
	margin-top:5.5%;
}

.space_top-small2{
	margin-top:15px;
}

.control.has-icon:not(.has-icon-right) > .fa {
    left: 13px;
    top: 13px;
}

.button.is-link, .pagination a.is-link {
    background: transparent;
    border-color: rgb(103, 83, 28);
    color: rgb(212, 187, 87);
}

.button {
	text-shadow: none;
}

.corner_left {
	position: absolute;
	top: 2em;
	left: 2em;
}

.corner_right {
	position: absolute;
	top: 2em;
	right: 2em;
}

.margin-bot_none{
	margin-bottom:0 !important;
}

.better_lineheight{
	line-height: 30px;
}

.isnot-flex{
	flex:none;
}

thead{
	background: #A52020;
}

.table thead tr:hover{
	background: #A52020;
}

.table tbody tr:hover {
    background: #D0D0D0;
}

th:hover{
	color: #EBBD06 !important;
}

table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #fff;
}

th {
	color: #EBBD06 !important;
}

td, th {
    padding: 0.75em 1.5em;
    text-align: center;
}
tbody tr:nth-child(2n-1) {
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(129,208,177,.3);
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

.sticky-wrap th {
	color: #EBBD06;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}

.scrollable{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 50vh;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

// ::-webkit-scrollbar { 
//     display: none; 
// }

::-webkit-scrollbar {
	display: initial;
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

body {
	font-family: compiled, sans-serif;
}

h2, h3, h4, h5, h6 {
	font-family: sansita-one, bundee;
}

.titre{
	position: absolute;
	width: 400px;
    font-family: Titre, bundee;
	font-size: 100px;
    top: -10px;
    text-align: center;
    color: red;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.26);
    display: inline;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.titresnd{
	display: inline;
	color: rgba(208, 0, 0, 0.75);
}

.tiret{
	font-family: Arial, sans-serif;
	display: inline;
	font-size: 50px;
    position: relative;
    top: -15px;
    color: rgba(66, 66, 66, 0.76);;
}

.notification{
	display: table;
    top: 20px;
    left: 20px;
    z-index: 18;
    position: absolute;
}

input[type="checkbox"]{
    vertical-align: middle;
}

.interligne{
	padding-bottom: 0;
}

.texte{
	font-weight: 600;
    font-size: 26px;
}

.entete{
	font-weight: 600;
	font-size: 22px;
}
